table.typical-table
  thead
    tr
      td
        button.table-sort-button(
          ng-click="orderBy('value')"
          ng-class="sortStatus('value')"
        ) Dependency
  tbody
    tr(ng-if="!(syntaxData.dependencies | filter:tableFilter).length")
      td {{syntax}} has no dependencies
        span(ng-if="tableFilter")= ' that match {{tableFilter}}'
    tr(
      ng-repeat="dependency in syntaxData.dependencies | orderBy:tableOrderBy:tableOrderRev | filter:tableFilter"
    )
      td
        a(ng-href="#/syntaxes/{{dependency | encodeURIComponent}}") {{dependency}}
