* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: normal normal 14px / 24px $--font-stack-sans;

  text-rendering: optimizeLegibility;

  color: $text-color;

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-weight: normal;

  margin: 0;
}

button {
  cursor: pointer;

  border: 0;
  outline: none;
  background: 0;
}

svg {
  fill: currentColor;
}

rect {
  shape-rendering: crispedges;
}

input {
  line-height: 40px;

  max-width: 320px;
  height: 40px;
  padding: 0 15px;

  border: 1px solid $offwhite-border;
  border-radius: $--border-radius;
  outline: none;

  &:focus {
    border-color: $slate;
  }
}
