* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: normal normal 14px / 24px $--font-stack-sans;

  text-rendering: optimizeLegibility;

  color: $text-color;

  -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
  font-weight: normal;

  margin: 0;
}

button {
  cursor: pointer;

  border: 0;
  outline: none;
  background: 0;
}

svg {
  fill: currentColor;
}

rect {
  shape-rendering: crispedges;
}

// Chrome/Safari/Opera
&::-webkit-input-placeholder {
  opacity: 1;
}

// Firefox <= 18
&:-moz-placeholder {
  opacity: 1;
}

// Firefox > 18
&::-moz-placeholder {
  opacity: 1;
}

// Edge (also supports Webkit)
&::-ms-input-placeholder {
  opacity: 1;
}

// IE 10/11
&:-ms-input-placeholder {
  opacity: 1;
}

input {
  $height: 48px;
  $color-default: hsl(230, 3, 76);
  $color-hover: $slate;
  $color-focus: $slate;
  @include actionable;
  @include input-placeholder($color-default) {
    transition: all 175ms ease-in-out;
  };

  line-height: $height;

  height: $height;
  padding: 0 20px;

  transition: all 175ms ease-in-out;

  color: $color-default;
  border: 2px solid hsl(0, 0, 90);
  border-radius: $height / 2;
  outline: none;

  &.with-icon-to-left {
    padding-left: $height;
  }

  + .icon-to-left {
    padding: ($height - 24px) / 2;

    transition: all 175ms ease-in-out;

    color: $color-default;
  }

  &:hover {
    @include input-placeholder($color-hover);

    color: $color-hover;
    border-color: $color-hover;
    + .icon-to-left {
      color: $color-hover;
    }
  }

  &:focus {
    @include input-placeholder($color-focus);

    color: $color-focus;
    border-color: $color-focus;
    + .icon-to-left {
      color: $color-focus;
    }
  }
}

a {
  text-decoration: none;

  color: $text-color;
  &:hover {
    color: $primary-color;
  }
}

.relative-wrapper {
  position: relative;
}

.icon-to-left {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}
