#loading-bar {
  transition: 200ms ease-in-out;
  pointer-events: none;
}

#loading-bar .bar {
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;

  transition: width 200ms;

  background: $accent-color;
}

.header-wrapper {
  padding: 10px $typical-distance;

  color: white;
  background-color: $primary-color;
}

.header-current-page {
  font-size: 24px;
  line-height: 60px;

  letter-spacing: .023em;
}

.at-a-glance {
  padding: $typical-distance $typical-distance * 4;

  border-bottom: 1px solid $offwhite-border;
  background-color: white;
}

.stat-blocks {
  display: flex;

  align-items: center;
  justify-content: space-between;
  align-content: stretch;
}

.stat-block {
  $block-border: $offwhite-border;

  position: relative;

  text-align: center;

  align-self: stretch;
  flex: 1 1 auto;
  &:last-child {
    h2 {
      border-right: 1px solid $block-border;
    }
  }
  h3 {
    font-size: 16px;

    margin-bottom: 20px;

    text-transform: capitalize;

    color: $slate;
  }
  h2 {
    font-size: 40px;
    line-height: 1em;

    padding: 20px 0 30px;

    border-left: 1px solid $block-border;
  }
}
