.header-wrapper {
  padding: 40px;

  color: white;
  background-color: $primary-color;
}

.header-current-page {
  font-size: 24px;
  line-height: 60px;

  letter-spacing: .023em;
}

.stat-blocks {
  display: flex;
}

.stat-block {
  position: relative;

  padding-left: 50px;

  text-align: center;
  h2 {
    font-size: 28px;
  }
  h3 {
    font-weight: 200;

    margin-top: 12px;

    text-transform: capitalize;
  }
  &:first-child {
    padding-left: 0;
  }
}
