.section {
  padding: $typical-distance;

  h1:first-child {
    margin-bottom: $typical-distance;
  }
  &.at-a-glance {
    border-bottom: 1px solid $offwhite-border;
  }
  &:last-child {
    border-bottom: 0;
  }
}
