.table-sort-button {
  position: relative;

  text-transform: uppercase;
  &::after {
    @include material-icons;

    position: absolute;
    top: 50%;
    left: 100%;

    margin-top: -1px;

    content: 'expand_more';
    transition: transform 300ms ease-in-out;
    transform: translateY(-50%) rotateX(180deg);
  }

  &.desc::after {
    transform: translateY(-50%);

    opacity: 1;
  }

  &:hover {
    color: $primary-color;
  }
}

.table-measure {
  width: 140px;

  text-align: center;
}
