.toolbar {
  margin-bottom: 20px;
  input {
    width: 410px;
  }
}

.table-sort-button {
  position: relative;

  padding-right: 18px;

  &::before, &::after {
    position: absolute;
    top: 50%;
    right: 0;

    margin-top: -2px;

    content: '';
    transition: all 200ms ease-in-out;

    opacity: .27;
    border-style: solid;
  }

  &::before {
    transform: translateY(-85%);

    border-width: 0 5px 5px;
    border-color: transparent transparent $text-color;
  }

  &::after {
    transform: translateY(85%);

    border-width: 5px 5px 0;
    border-color: $text-color transparent transparent;
  }

  &.asc::before, &.desc::after {
    opacity: 1;
  }

  &:hover {
    color: $primary-color;
  }
}

.scope-measure {
  width: 140px;

  text-align: center;
}
