.tabs {
  display: flex;

  padding: $typical-distance;

  justify-content: space-between;
  align-items: center;
  a {
    font-size: 24px;
    font-weight: 300;

    display: inline-block;

    margin-right: $typical-distance;

    cursor: pointer;
    transition: color 175ms ease-in-out;

    color: $slate;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      color: $text-color;
    }
    &.current {
      color: $primary-color;
    }
  }
}

@media screen and (max-width: 765px) {
  .tabs a {
    font-size: 20px;
  }
}

@media screen and (max-width: 715px) {
  .tabs a {
    font-size: 18px;
  }
}

@media screen and (max-width: 685px) {
  .tabs a {
    margin-bottom: 24px;
  }
}
