// Palette
$offwhite: #f1ece5;
$text-color: #3c2c2c;
$primary-color: #6695eb;
$accent-color: #66ebbc;
$slate: hsl(219, 11%, 67%);
$grey: #e0e0e0;

//
$--font-stack-sans: 'Open Sans', sans-serif;
$--border-radius: 6px;
